/* src/components/Dashboard/DashboardLayout.css */
.dashboard-layout {
  display: flex;
}

.main-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.dashboard-layout.sidebar-open .main-view {
  margin-left: 250px; /* Matches the sidebar width */
}

.dashboard-layout.sidebar-closed .main-view {
  margin-left: 0;
}
