/* General layout for the entire app */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Header, Body, Footer */
  min-height: 100vh;
  /* Ensure it covers the full height */
}

/* Styling for Header */
.div1 {
  background-color: white;
  /* Example background for Header */
  color: white;
  padding: 0.5rem;
  text-align: center;

}

/* Styling for Body */
.div2 {
  padding: 2rem;
  background-color: #f5f5f5;
  /* Background for the Body */
}

/* Styling for Footer */
.div3 {
  background-color: #282c34;
  /* Example background for Footer */
  color: white;
  text-align: center;
  padding: 1rem;
}